#centerContent {
    display: flex;
    justify-content: center;
    padding: 10vw;
    width: 85vw;
    height: 100vh;
    margin: auto;
}

.textBlock {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
    background-color: black;
    display: inline-block;
    padding-right: 5px;
}