.mainTextContainer {
    color: white;
    font-size: 7vw;
    text-align: center;
    cursor:default;
}

.boldText {
    font-weight: 1000;
}

.landing {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}