.panelContent {
    display: block;
    width: calc(100vw - 6vh);
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 3vh;
    min-height: auto;
    background-color: rgb(10, 10, 10);
    box-shadow: -10px 10px 5px 5px rgb(26, 26, 26);
}