header {
    top: 0;
    z-index: 100;
}

.headerComponent  {
    position: sticky;
    top: 0;
    height: 0;
}

.nav-link span{
    visibility: hidden;
}

.nav-link div {
    top: 0;
}

.navbar-link{
    width: fit-content;
}

.nav-link {
    color: white;
    font-size: 18px;
    height: 24px;
    font-weight: 800;
    overflow: hidden;
    display: block;
    position: relative;
    top: 0;
}

.logoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 50px;
    width: 50px;
}

.logoContainerItem {
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    text-align: center;
}

.logoContainerItem, .logoContainerItem div{
    width: 25px;
    height: 25px;
}

.nav-link div,
.logoLink div .logoContainerItem div{
    display: block;
    position: absolute;
}

.navbar-nav .nav-link div:nth-child(1),
.logoContainerItem div:nth-child(1) {
    color: red;
    --glitch-translate: -3px;
}
.navbar-nav .nav-link div:nth-child(2),
.logoContainerItem div:nth-child(2) {
    color: blue;
    --glitch-translate: 3px;
}
.navbar-nav .nav-link div:nth-child(3),
.logoContainerItem div:nth-child(3) {
    color: white;
    --glitch-translate: 0;
}

.navbar-nav .nav-link:hover div {
    animation: glitch 350ms step-start;
}

.logoContainer{
    animation: glitchLogoContainer 10s step-start infinite;
}

.logoContainerItem div{
    animation: glitchLogoItem 10s step-start infinite;
}

@keyframes glitchLogoItem {
    0%, 95% {
        transform: none;
    }
    98% {
        transform: translateX(calc(var(--glitch-translate) * -1));
    }
    99% {
        transform: translateX(var(--glitch-translate));
    }
    100% {
        transform: none;
    }
}

@keyframes glitchLogoContainer {
    0%, 95% {
        clip-path: inset(0);
    }
    98% {
        clip-path: inset(20% 0 40% 0);
    }
    99% {
        clip-path: inset(40% 0 0 0);
    }
    100% {
        clip-path: inset(0);
    }
}

@keyframes glitch {
    0% {
        clip-path: inset(0 0 0 0);
        transform: translateX(var(--glitch-translate));
        opacity: 0.8;
    }
    20% {
        clip-path: inset(20% 0 40% 0);
        transform: translateX(calc(var(--glitch-translate) * -1));
        opacity: 1;
    }
    30% {
        transform: none;
        opacity: 1;
    }
    40% {
        clip-path: inset(40% 0 0 0);
    }
    60% {
        clip-path: inset(0 0 60% 0);
    }
    80% {
        clip-path: inset(60% 0 20% 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}
